# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

# Custom folders to ignore
configs/
datasets/
config.xml
doc/
lib/
./models/
results/
tmp/
manual/Manual Source Code/chapters/*.aux
manual/Manual Source Code/*.aux
manual/Manual Source Code/*.toc
manual/Manual Source Code/*.out
manual/Manual Source Code/*.pdf
manual/Manual Source Code/*.gz
manual/Manual Source Code/*.bbl
manual/Manual Source Code/*.blg
manual/Manual Source Code/*.log